/* Button */
.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    cursor: pointer;

    transition: background-color var(--duration) var(--timing-function);
}

.btn:hover,
.btn:focus {
    background-color: #188ce8;
}

.btn-modal {
    margin-top: 30px;
}

.btn-sign-up {
    display: flex;
    justify-content: center;
}

.btn__text {
    display: block;
}

.btn__icon {
    display: block;
    margin-left: 10px;
    top: 50%;
    left: 0;
    fill: var(--white-text-color);
}